{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<h1 class="mt-5">A Title</h1>

<p class="lead">Home page for the Visual Studio Code Flask tutorial.</p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-toolbar d-flex justify-content-center align-items-center" style="height: 100px">
        <button id="resume" type="button" class="btn btn-success">Resume</button>
        <button id="pause" type="button" class="btn btn-danger">Pause</button>
    </div>
</div>

<script>

    var timer = null;
    var interval = 2000;

    const ctx = document.getElementById('myChart').getContext('2d');
    const labels = [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40];
    const data = {
        labels: labels,
        datasets: [{
            label: 'Dataset 0',
            data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
            fill: false,
            backgroundColor: "rgb(75, 192, 192)",
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }, {
            label: 'Dataset 1',
            data: [65, 59, 80, 81, 56, 65, 59, 80, 81, 56, 55, 56, 55, 40],
            fill: false,
            backgroundColor: "rgb(100, 225, 100)",
            borderColor: 'rgb(100, 225, 100)',
            tension: 0.1
        }, {
            label: 'Dataset 2',
            data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55, 40],
            fill: false,
            backgroundColor: "rgb(153, 0, 153)",
            borderColor: 'rgb(153, 0, 153)',
            tension: 0.1
        }]
    };
    const config = {
        type: 'line',
        data: data,
    };
    const myChart = new Chart(ctx, config);

    const dataAPI = "http://127.0.0.1:5000/api/data";
    const updateChart = function () {

        $.getJSON(dataAPI, function (result) {

            // myChart.data.labels = result.x;

            // myChart.data.datasets.pop();
            // myChart.data.datasets.push({
            //     label: 'My First Dataset',
            //     data: result.y,
            //     fill: false,
            //     backgroundColor: "rgb(75, 192, 192)",
            //     borderColor: 'rgb(75, 192, 192)',
            //     tension: 0.1
            // });

            myChart.data.labels.push(result.x);
            for (let i = 0; i < myChart.data.datasets.length; i++) {
                myChart.data.datasets[i].data.push(result.y[i]);
            }
            myChart.update();

            myChart.data.labels.shift();
            myChart.data.datasets.forEach((dataset) => {
                dataset.data.shift();
            });
            myChart.update();

        });
    }

    $("#resume").click(function () {
        if (timer !== null) return;
        timer = setInterval(function () { updateChart() }, interval);;
    });

    $("#pause").click(function () {
        clearInterval(timer);
        timer = null
    });

    timer = setInterval(function () { updateChart() }, interval);

</script>

{% endblock %}