{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<h1 class="mt-5">Dashboard</h1>

<p class="lead">Below is some data.</p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"
                style="justify-content: center; display: flex;">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            set duration
                        </button>
                        <ul id="duration-options" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">15 minutes</a></li>
                            <li><a class="dropdown-item" href="#">10 minutes</a></li>
                            <li><a class="dropdown-item" href="#">5 minutes</a></li>
                            <li><a class="dropdown-item" href="#">2 minutes</a></li>
                            <li><a class="dropdown-item" href="#">1 minute</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary" onclick="handlePauseOnOff()">pause on/off</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const data = {
        datasets: [
            {
                label: 'Dataset 1 (Linear Interpolation)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgb(255, 99, 132)',
                borderDash: [8, 4],
                data: []
            },
            {
                label: 'Dataset 2 (Cubic Interpolation)',
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgb(54, 162, 235)',
                cubicInterpolationMode: 'monotone',
                data: []
            }
        ]
    };

    const onRefresh = chart => {
        const dataAPI = "http://127.0.0.1:5000/api/data";
        $.getJSON(dataAPI, function (result) {
            for (let i = 0; i < chart.data.datasets.length; i++) {
                chart.data.datasets[i].data.push({
                    x: result.x,
                    y: result.y[i]
                });
            }
        });
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                x: {
                    type: 'realtime',
                    realtime: {
                        duration: 60000 * 15,  // 15 mins
                        ttl: 60000 * 15,
                        refresh: 1000,
                        delay: 2000,
                        onRefresh: onRefresh,
                        pause: false
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Value'
                    }
                }
            },
            interaction: {
                intersect: false
            },
            plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        pinch: {
                            enabled: true
                        },
                        wheel: {
                            enabled: true
                        },
                        mode: 'x'
                    },
                    limits: {
                        x: {
                            minDuration: 60000,
                            maxDuration: 60000 * 15  // 15 mins
                        }
                    }
                }
            }
        }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    const handlePauseOnOff = function () {
        myChart.options.scales.x.realtime.pause = !myChart.options.scales.x.realtime.pause;
        myChart.update('none');
    };

    $('#duration-options li').on('click', function (e) {
        e.preventDefault();
        var text = $(this).text();
        var duraction = parseInt(text.split(' ')[0]);
        myChart.options.scales.x.realtime.duration = 60000 * duraction;
        myChart.update('none');
    });

</script>

{% endblock %}