{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<h1 class="mt-5">Dashboard</h1>

<p class="lead">Below is some data.</p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"
                style="justify-content: center; display: flex;">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            set duration
                        </button>
                        <ul id="duration-options" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">15 minutes</a></li>
                            <li><a class="dropdown-item" href="#">10 minutes</a></li>
                            <li><a class="dropdown-item" href="#">5 minutes</a></li>
                            <li><a class="dropdown-item" href="#">2 minutes</a></li>
                            <li><a class="dropdown-item" href="#">1 minute</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary" onclick="handlePauseOnOff()">pause on/off</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    function onRefresh(chart) {
        const dataAPI = "http://127.0.0.1:5000/api/data";
        $.getJSON(dataAPI, function (result) {
            chart.data.datasets.forEach(function (dataset, i) {
                dataset.data.push({
                    x: result.x,
                    y: result.y[i]
                });
            });
        });
    }

    var color = Chart.helpers.color;

    const data = {
        datasets: [{
            label: 'Dataset 1 (linear interpolation)',
            backgroundColor: color(chartColors.red).alpha(0.5).rgbString(),
            borderColor: chartColors.red,
            fill: false,
            lineTension: 0,
            borderDash: [8, 4],
            data: []
        }, {
            label: 'Dataset 2 (cubic interpolation)',
            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
            borderColor: chartColors.blue,
            fill: false,
            cubicInterpolationMode: 'monotone',
            data: []
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                x: {
                    type: 'realtime',
                    realtime: {
                        duration: 60000 * 15,  // 15 mins
                        ttl: 60000 * 15,
                        refresh: 1000,
                        delay: 4000,
                        onRefresh: onRefresh
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Value'
                    }
                }
            },
            interaction: {
                intersect: false
            },
            plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        pinch: {
                            enabled: true
                        },
                        wheel: {
                            enabled: true
                        },
                        mode: 'x'
                    },
                    limits: {
                        x: {
                            minDelay: 4000,
                            minDuration: 60000,
                            maxDuration: 60000 * 15  // 15 mins
                        }
                    }
                }
            }
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myChart = new Chart(ctx, config);
    };

    // pauses/unpauses the chart
    const handlePauseOnOff = function () {
        myChart.options.scales.x.realtime.pause = !myChart.options.scales.x.realtime.pause;
        myChart.update('none');
    };

    // Sets the duration for the chart using options from the dropdown menu
    $('#duration-options li').on('click', function (e) {
        e.preventDefault();
        var text = $(this).text();
        var duraction = parseInt(text.split(' ')[0]);
        myChart.options.scales.x.realtime.duration = 60000 * duraction;
        myChart.update('none');
    });

</script>

{% endblock %}